# **************************************************************************** #
#                                   BINARIES                                   #
# **************************************************************************** #

lem-in
hex_visu
farm_test
sdl_color_test
a.out

# **************************************************************************** #
#                                    OBJECTS                                   #
# **************************************************************************** #

objs/
*.o
*.d
*.a

# **************************************************************************** #
#                                     DEBUG                                    #
# **************************************************************************** #

dump.txt
vg.log
*.log
*.out
*.trace
core
core.*
vgcore.*
valgrind.log

# **************************************************************************** #
#                                     TESTS                                    #
# **************************************************************************** #

test.c
tot.sh

# **************************************************************************** #
#                                      SDL                                     #
# **************************************************************************** #

*.bmp
*.ppm
*.pgm

# **************************************************************************** #
#                                     IDE                                      #
# **************************************************************************** #

.vscode/
.idea/
*.swp
*.swo
*~

# **************************************************************************** #
#                                      OS                                      #
# **************************************************************************** #

.DS_Store
Thumbs.db

# **************************************************************************** #
#                                    LIBFT                                     #
# **************************************************************************** #

lib/libft/*.o
lib/libft/*.d
lib/libft/libft.a